name: Deploy via FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install lftp
        run: |
          sudo apt-get update
          sudo apt-get install -y lftp
          lftp --version

      - name: FTP Upload (FTPS, ignore cert)
        run: |
          set -x
          lftp -d -c "
            set ftp:ssl-allow true
            set ftp:ssl-force true
            set ftp:ssl-protect-data true
            set ftp:passive-mode true

            # مهم جدًا: تجاهل التحقق من الشهادة
            set ssl:verify-certificate false

            open -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ftps://{{ secrets.FTP_SERVER }}
            mirror -R ./ /httpdocs/ --delete --verbose
          "
